<header class="search-bar J_SearchBar">
  <input
    type="text"
    class="J_SearchBarInput search-input input-size-large"
    placeholder="请输入搜索内容..."
    value="<%= keyword %>"
  />
  <button class="btn btn-primary btn-size-large search-btn J_SearchBarBtn">
    搜索 <i class="iconfont icon-search"></i>
  </button>
</header>