<div class="audio-transfer-uploader J_Uploader">
  <div class="upload-container">
    <div class="form-item">
      <input
        class="uploader-input J_UploaderInput"
        type="file"
        <%= multiple ? 'multiple' : '' %>
        max="10"
        accept=".ncm"
      />
      <button class="btn btn-size-large J_UploaderBtn">
        请选择 ncm 音频
      </button>
    </div>
    <div class="form-item">
      <input
        class="J_AudionameInput input-size-large"
        type="text"
        placeholder="请输入上传音频的名称 (必填)"
        readonly="readonly"
      />
    </div>
  </div>
  <div class="upload-files J_Files"></div>
</div>
