<table
  class="list-table video-list-table J_VideoListTable"
  align="left"
  border="0"
>
  <%- include('./TableHead.ejs', {
    tableHead: sourceTableHead,
  }) %>
  <%- include('./TableBody.ejs', {
    tableHead: sourceTableHead,
    tableData: tableInfo.list,
    page: tableInfo.page,
    pageSize: tableInfo.pageSize
  }) %>
</table>

<%- include('../../common/pagination/index.ejs', {
  page: tableInfo.page,
  pageSize: tableInfo.pageSize,
  total: tableInfo.total,
  totalPage: tableInfo.totalPage,
}) %>