<div class="back-top J_BackTop">
  <p class="back-top-inner">
    <!-- <i href="javascript:;" class="iconfont icon-chevron-up"></i>
    <span>返回顶部</span> -->
    <img src="/imgs/arrow-up.png" alt="" />
  </p>
</div>
