<div class="back-top J_BackTop">
  <p class="back-top-inner">
    <!-- <i href="javascript:;" class="iconfont icon-chevron-up"></i>
    <span>返回顶部</span> -->
    <!-- <img src="/imgs/arrow-up.png" alt="" /> -->
    <svg
      t="1697878125260"
      class="icon"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      p-id="4144"
      width="32"
      height="32"
    >
      <path d="M897.96 728.3c-18.8 18.8-49.1 18.801-67.901 0l-318-318-318 318c-18.8 18.8-49.2 18.8-67.901 0-18.8-18.8-18.801-49.1 0-67.901l352-352c18.8-18.8 49.2-18.8 67.901 0l352 352c9.4 9.4 14 21.7 14 34-0.1 12.2-4.7 24.501-14.1 33.9z" p-id="4145" fill="#1296db"></path>
    </svg>
  </p>
</div>
