<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="referer" content="no-referer" />
  <title><%= title %></title>
  <% for (let css of stylesheets) { %>
    <link rel="stylesheet" href="<%= css %>" />
  <% } %>
  <link rel="shortcut icon" href="//s3ecz0c2b.hn-bkt.clouddn.com/imgs/favicon.ico?e=1698849639&token=WO8DULO9FIsHnPpG2_qXrwSqua2RSfUKL_3li9UE:DfR42lt4Qnjpj9UC-4aKBvAdMAU=" type="image/x-icon" />
</head>
<body>
