<video
  id="J_Player"
  class="play-comp"
  height="500px"
  controls
  preload="auto"
  poster="<%= item.banner %>"
  data-setup='{}'
>
  <source src="<%= item.playUrl %>" type="video/mp4"></source>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>