<% if (sourceType === 'video') { %>
  <span class="source-type type-video" data-type="video">视频</span>
<% } %>
<% if (sourceType === 'audio') { %>
  <span class="source-type type-audio" data-type="audio">音频</span>
<% } %>