<header class="page-header J_Header">
  <a href="/" class="page-logo">
    <img width="36" height="36" src="<%= pageIcon %>" alt="" />
  </a>
  <h1 class="page-title">
    <%= pageTitle %>
  </h1>
</header>