<header class="search-bar J_SearchBar">
  <!-- KeywordInput -->
  <%- include('KeywordInput.ejs', { keyword }) %>

  <!-- SourceTypeSelector -->
  <%- include('../../common/selector/index.ejs', {
    size: 'large',
    list: sourceTypeList,
    value: sourceType,
    selector: 'J_SourceTypeSelector',
  }) %>

  <button class="btn btn-primary btn-size-large search-btn J_SearchBarBtn">
    搜索 <i class="iconfont icon-search"></i>
  </button>
</header>